// colors
$white: #ffffff;
$black: #000000;
$black-light: #333333;
$blue: #81b3d2;
$blue-light: #9ac2db;
$blue-dark: #678fa8;
$grey: #eeeeee;
$grey-dark: #e5e5e5;
$grey-bg: #f2f2f2;

// media
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
