// colors
$white: #ffffff;
$white-transparent: rgba($white, 0.3);
$black: #000000;
$black-transparent: rgba($black, 0.3);
$black-light: #333333;
$blue: #81b3d2;
$blue-light: #9ac2db;
$blue-dark: #678fa8;
$grey: #eeeeee;
$grey-dark: #e5e5e5;
$grey-light: #b2b2b2;

// media
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// action
$bg-blue: #8e9cb7;
$bg-blue-hover: #669ec0;
$bg-blue-down: #5496bd;
$bg-grey: #f2f2f2;
$bg-grey-hover: #e5e5e5;
$bg-grey-down: #d5d5d5;
$bg-black-transparent: rgba(0, 0, 0, 0.5);
$main-menu-active: #766357;
$main-menu-active-hover: #604e43;
$main-menu-active-down: rgba($main-menu-active, 0.3);

// btn-
$btn: #81b3d2;
$btn-hover: #669ec0;
$btn-down: #5496bd;
$btn-disabled: #e5e5e5;
$btn-video-hover: #c1c1c1;
$btn-video-down: #333333;
