// colors
$white: #ffffff;
$black: #000000;
$black-light: #333333;
$blue: #81b3d2;
$blue-light: #9ac2db;
$blue-dark: #678fa8;
$grey: #eeeeee;
$grey-dark: #e5e5e5;
$grey-light: #b2b2b2;

// media
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// action
$bg-blue: #81b3d2;
$bg-blue-hover: #669ec0;
$bg-blue-active: #5496bd;
$bg-grey: #f2f2f2;
$bg-grey-hover: #e5e5e5;
$bg-grey-active: #d5d5d5;
$bg-black-transparent: rgba(0, 0, 0, 0.5);
