@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Web Regular'),
  local('PT_Sans-Web-Regular'),
  url('ptsans.woff2') format('woff2'),
  url('ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Web Bold'),
  local('PT_Sans-Web-Bold'),
  url('ptsans.woff2') format('woff2'),
  url('ptsans.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
