.form {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    padding: 0;
  }

  @include desktop {
    width: 960px;
  }

  & > div {
    outline: 1px solid red;
  }
}

.pop-up__wrapper,
.form__wrapper {
  @include container;
}

.form__user,
.form__contacts,
.form__impression,
.form__places,
.form__emotions {
  padding: 18px 0;

  border-top: 1px solid $grey-dark;

  @include tablet {
    padding: 22px 0;
  }
}

.form__title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    font-size: 21px;
    text-align: start;
  }
}

.form__title .hidden {
  @include tablet {
    display: none;
  }
}

.form__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__label--grey {
  font-size: 14px;
  color: $black-light;
  text-transform: uppercase;
}

.form__input {
  height: 58px;

  font-size: 18px;

  border: none;

  &::-webkit-input-placeholder {
    color: $black-light;
  }

  &::-moz-placeholder {
    color: $black-light;
  }

  &::-ms-input-placeholder {
    color: $black-light;
  }

  @include tablet {
    flex-grow: 1;
  }
}

.form__textarea {
  width: 100%;
  margin-bottom: 45px;
  padding: 20px;

  background: $grey;
  border: none;

  resize: none;

  &::-webkit-input-placeholder {
    color: $black-light;
  }

  &::-moz-placeholder {
    color: $black-light;
  }

  &::-ms-input-placeholder {
    color: $black-light;
  }
}

.form__user {
  min-height: 305px;

  @include tablet {
    flex-basis: 50%;
    min-height: 402px;
    padding-left: 62px;
  }

  @include desktop {
    padding-left: 62px;
  }
}

.form__user .form__title {
  @include tablet {
    margin-bottom: 56px;
  }
}

.form__user .form__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 214px;
}

.form__user .form__list-item {
  display: flex;
  align-items: center;
}

.form__user .form__label {
  padding-right: 20px;
}

.form__user .form__input {
  flex-grow: 1;
  width: 100%;
  height: 58px;
  padding: 20px 5px 20px 20px;

  background-color: $grey-bg;
}

.form__contacts {
  min-height: 317px;

  @include tablet {
    flex-basis: 100%;
    min-height: 321px;
  }

  @include desktop {
    width: 224px;
  }
}

.form__contacts .form__title {
  @include tablet {
    margin-top: -35px;
  }
}

.form__contacts .form__input {
}

.form__contacts .form__list-item {
  @include tablet {
    width: 50%;
  }
}

.form__contacts .form__label {
  margin-left: 25px;
  margin-right: 23px;
}

.form__contacts .form__input {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 44px;
  padding: 20px;
  padding-left: 23px;

  @include tablet {
    width: 315px;
  }
}

.form__list-item:last-child .form__input {
  margin-bottom: 0;
}

.form__contacts .hidden {
  @include tablet {
    display: none;
  }
}

.form__impression {
  min-height: 288px;

  @include tablet {
    flex-basis: 50%;
    order: -2;
    padding-right: 50px;
  }
}

.form__places {
  min-height: 410px;

  @include tablet {
    flex-basis: 100%;
    min-height: 293px;
  }
  @include desktop {
    min-height: 203px;
  }
}

.form__places .form__title {
  @include tablet {
    margin-top: -35px;
  }
}

.form__places .form__list {
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    flex-wrap: nowrap;
  }
}

.form__places .form__list-item {
  flex-basis: 50%;

  @include desktop {
    width: 240px;
  }
}

.form__places .form__list-item:nth-child(2) {
  order: 1;

  @include desktop {
    order: 0;
  }
}

.form__places .form__list-item:nth-child(4) {
  order: 2;

  @include desktop {
    order: 0;
  }
}

.form__emotions {
  min-height: 374px;
  margin-bottom: 0;

  text-align: center;

  @include tablet {
    flex-basis: 100%;
    margin-bottom: 66px;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.form__emotions .hidden {
  display: none;

  @include tablet {
    display: inline-block;
    margin: 0;
  }
}

.form__emotions .form__title {
  @include tablet {
    margin-top: -35px;
  }
}
