.form {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    padding: 0;
  }

  @include desktop {
    width: 960px;
  }
}

.pop-up__wrapper,
.form__wrapper {
  @include container;
}

.form__user,
.form__contacts,
.form__impression,
.form__places,
.form__emotions {
  border-top: 1px solid $grey-dark;
}

.form__user,
.form__impression {
  @include tablet {
    border-top: none;
  }
}

.form__title {
  width: 100%;
  margin: 20px 0;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    font-size: 21px;
  }
}

.form__title .hidden {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: inline;
  }
}

.form__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__label--grey {
  font-size: 14px;
  color: $black-light;
  text-transform: uppercase;
}

.form__input {
  flex: 1;
  width: 100%;
  height: 58px;
  padding: 20px;
  padding-left: 24px;

  font-size: 18px;

  background-color: $bg-grey;
  border: none;
  outline: none;

  @include tablet {
    flex-grow: 1;
  }
  &::-webkit-input-placeholder {
    color: $black-light;
  }

  &::-moz-placeholder {
    color: $black-light;
  }

  &::-ms-input-placeholder {
    color: $black-light;
  }
}

.form__input:hover {
  background-color: $bg-grey-hover;
}

.form__input:focus,
.form__textarea:focus {
  background-color: $white;
  box-shadow: inset 0 0 0 4px $grey-dark;
  &::-webkit-input-placeholder {
    color: $grey-dark;
  }

  &::-moz-placeholder {
    color: $grey-dark;
  }

  &::-ms-input-placeholder {
    color: $grey-dark;
  }
}

.form__textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 15px;

  font-size: 18px;

  background: $grey;
  border: none;
  outline: none;

  resize: none;

  @include tablet {
    height: 160px;
    margin-bottom: 55px;
    padding: 27px;
    padding-top: 15px;
  }

  @include desktop {
    padding: 20px;
    padding-top: 12px;
  }

  &::-webkit-input-placeholder {
    color: $black-light;
  }

  &::-moz-placeholder {
    color: $black-light;
  }

  &::-ms-input-placeholder {
    color: $black-light;
  }
}

.form__user {
  min-height: 305px;

  @include tablet {
    flex-basis: 50%;
    min-height: 402px;
    padding-left: 62px;
  }

  @include desktop {
    padding-left: 79px;
  }
}

.form__user .form__title {
  @include tablet {
    margin-bottom: 56px;

    text-align: start;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.form__user .form__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 214px;
}

.form__user .form__list-item {
  display: flex;
  align-items: center;
}

.form__user .form__label {
  padding-right: 20px;
}

.form__contacts {
  min-height: 317px;

  @include tablet {
    flex-basis: 100%;
    min-height: 321px;
  }

  @include desktop {
    min-height: 223px;
  }
}

.form__contacts .form__title {
  @include tablet {
    margin-top: -13px;
    margin-bottom: 24px;
  }

  @include desktop {
    margin-bottom: 73px;
  }
}

.form__contacts .form__list {
  @include desktop {
    display: flex;
  }
}

.form__contacts .form__list-item {
  margin-bottom: 44px;

  @include tablet {
    margin-bottom: 25px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 0;
  }
}

.form__contacts .form__list-item:first-child {
  @include desktop {
    padding-right: 80px;
  }
}

.form__contacts .form__list-item:last-child {
  margin-bottom: 0;
}

.form__contacts .form__label {
  margin-right: 23px;
  margin-left: 25px;

  @include desktop {
    margin-left: 0;
  }
}

.form__container {
  display: flex;
  margin-top: 6px;

  @include desktop {
    flex: 1;
    margin-top: 0;
  }
}

.form__phone-icon {
  width: 58px;

  background: #e6e6e6 url(../img/icon-phone.svg) no-repeat center;
}

.form__mail-icon {
  width: 58px;

  background: #e6e6e6 url(../img/icon-mail.svg) no-repeat center;
}

.form__list-item:last-child .form__input {
  margin-bottom: 0;
}

.form__contacts .hidden {
  @include desktop {
    display: none;
  }
}

.form__impression {
  min-height: 288px;

  @include tablet {
    flex-basis: 50%;
    order: -2;
    padding-right: 50px;
  }
}

.form__impression .form__title {
  @include tablet {
    margin-bottom: 59px;
  }
}

.form__impression .form__list-item {
  display: flex;
  align-items: center;
  min-height: 58px;
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.form__impression .form__list-item:last-child {
  margin-bottom: 0;
}

.form__impression .form__label {
  position: relative;

  padding-left: 82px;

  font-size: 18px;

  @include tablet {
    padding-left: 76px;
  }
}

.form__impression .form__input {
  display: none;
}

.form__impression .form__label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;

  width: 22px;
  height: 22px;

  background: $bg-grey;
  border: 18px solid $bg-grey;
  border-radius: 50%;
}

.form__impression .form__label:hover::before {
  background-color: $bg-grey-hover;
  border-color: $bg-grey-hover;
}

.form__impression .form__label:active::before {
  background-color: $bg-grey-down;
  border-color: $bg-grey-down;
}

input[type="radio"]:checked ~ label::before {
  background-color: $black;
}

input[type="radio"]:checked:hover ~ label::before {
  background-color: $black-light;
}

input[type="radio"]:checked:active ~ label::before {
  background-color: #a4a4a4;
}

.form__places {
  min-height: 410px;

  @include tablet {
    flex-basis: 100%;
    min-height: 293px;
  }

  @include desktop {
    min-height: 203px;
  }
}

.form__places .form__title {
  margin-bottom: 15px;

  @include tablet {
    width: 400px;
    margin-top: -26px;
    margin-right: auto;
    margin-bottom: 42px;
    margin-left: auto;
  }
}

.form__places .form__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    min-height: 146px;
  }

  @include desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 0;
  }
}

.form__places .form__list-item {
  display: flex;
  align-items: center;
  min-height: 58px;
  margin-bottom: 22px;

  @include tablet {
    width: 220px;
    margin-bottom: 0;
  }
}

.form__places .form__list-item:last-child {
  margin-bottom: 0;
}

.form__places .form__list-item:nth-child(2) {
  order: 1;

  @include desktop {
    order: 0;
  }
}

.form__places .form__list-item:nth-child(4) {
  order: 2;

  @include desktop {
    order: 0;
  }
}

.form__places .form__label {
  position: relative;

  padding-left: 82px;

  font-size: 18px;
}

.form__places .form__input {
  display: none;
}

.form__places .form__label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;

  width: 58px;
  height: 58px;

  background-color: $bg-grey;
  border-radius: 5px;
}

.form__places .form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 18px;

  width: 22px;
  height: 22px;

  border-radius: 2px;
}

input[type="checkbox"]:checked ~ label::after {
  width: 18px;
  height: 10px;

  border: 4px solid black;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

input[type="checkbox"] ~ label:hover::before,
input[type="checkbox"]:checked ~ label:hover::after,
input[type="checkbox"]:checked ~ label:hover::before {
  background-color: $bg-grey-hover;
  border-color: $black-light;
}
input[type="checkbox"] ~ label:active::before,
input[type="checkbox"]:checked ~ label:active::after,
input[type="checkbox"]:checked ~ label:active::before {
  background-color: $bg-grey-down;
  border-color: #a4a4a4;
}

.form__emotions {
  margin-bottom: 38px;

  text-align: center;

  @include tablet {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 66px;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.form__emotions .hidden {
  display: none;

  @include tablet {
    display: inline-block;
    align-self: center;
    margin: 0;

    color: $black-light;
    text-transform: uppercase;
  }
}

.form__emotions .form__title {
  margin-bottom: 15px;

  @include tablet {
    margin-top: -13px;
    margin-bottom: 58px;
  }
}

.form__send-response {
  @include tablet {
    width: 50%;
  }
}

.form__send-response-btn:hover {
  background-color: $btn-hover;
}

.form__send-response-btn:active {
  background-color: $btn-down;
  color: $white-transparent;
}

.form__send-response-btn:disabled {
  background-color: $btn-disabled;
}

.form__contacts .form__title,
.form__places .form__title,
.form__emotions .form__title {
  @include tablet {
    width: 62%;
    margin-right: auto;
    margin-left: auto;

    background: $white;
  }

  @include desktop {
    width: 40%;
  }
}
