.form {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;

  &__title {
    text-transform: uppercase;
  }

  &__label {
    &--grey {
      font-size: 14px;
      color: $grey;
      text-transform: uppercase;
    }
  }

  &__input {
    background: $grey;

    &::-webkit-input-placeholder {
      color: $black-light;
    }

    &::-moz-placeholder {
      color: $black-light;
    }

    &::-ms-input-placeholder {
      color: $black-light;
    }
  }

  &__textarea {
    background: $grey;

    &::-webkit-input-placeholder {
      color: $black-light;
    }

    &::-moz-placeholder {
      color: $black-light;
    }

    &::-ms-input-placeholder {
      color: $black-light;
    }
  }
}
