.btn {
  width: 280px;
  min-height: 60px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  @include tablet {
    width: 460px
  }
}
