.intro {
  margin: 0 auto;
  margin-top: -26px;

  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: $black-light;
  text-transform: uppercase;
}

.intro__wrapper {
  @include container;
}

.intro__background {
  width: 100%;
  height: 389px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    height: 518px;
  }
}

.intro__header {
  margin: 0;
  padding-top: 90px;
}

.intro__description {
  padding-top: 30px;
  padding-bottom: 20px;
  @include tablet {
    padding: 49px 0;
  }
}

.intro__title {
  margin: 0;
  padding: 0 5px;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 18px;
  color: $black;

  @include tablet {
    padding: 0 55px;
    font-size: 21px;
  }
}

.intro__text {
  margin: 0;
  font-size: 14px;
}
