.intro {
  margin: 0 auto;
  margin-top: -26px;

  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: $black-light;
  text-transform: uppercase;
}

.intro__wrapper {
  width: 275px;
  margin: 0 auto;

  @include tablet {
    width: 550px;
  }
}

.intro__background {
  width: 100%;
  height: 389px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    height: 518px;
  }
}

.intro__header {
  margin: 0;
  padding-top: 90px;
}

.intro__description {
  min-height: 215px;
  padding-top: 39px;
  padding-bottom: 20px;

  @include tablet {
    min-height: 205px;
    padding: 49px 0;
  }
}

.intro__title {
  margin: 0;
  padding: 0 5px;
  margin-bottom: 27px;

  font-weight: bold;
  font-size: 18px;
  color: $black;

  @include tablet {
    padding: 0 55px;
    font-size: 21px;
  }
}

.intro__text {
  margin: 0;
  font-size: 14px;
}

.intro--small {
  @include tablet {
    margin-top: -27px;
  }
}

.intro--small .intro__background {
  height: 158px;

  @include tablet {
    height: 290px;
  }

  @include desktop {
    height: 300px
  }
}

.intro--small .intro__description {
  min-height: 203px;
  padding-bottom: 0;

  @include tablet {
    min-height: 230px;
    padding-top: 74px;
  }

  @include desktop {
    min-height: 252px;
    padding-top: 110px;
  }
}

.intro--small .intro__wrapper {
  @include tablet {
    width: 445px;
  }
}

.intro--small .intro__header {
  padding-top: 50px;

  @include tablet {
    padding-top: 93px;
  }

  @include desktop {
    padding-top: 100px;
  }
}

.intro--small .intro__title {
  margin-bottom: 25px;
  @include tablet {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 33px;
  }
}

.intro--small .intro__text {
  line-height: 24px;
}

.intro--small {}
