.main-nav {
  position: relative;

  min-height: 56px;
  margin: 0 auto;

  @include tablet {
    width: auto;
    min-height: 56px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__list li {
  flex-basis: 20%;
}

.main-nav__list-item {
  padding: 7.5px 0;

  text-align: center;

  background-color: $blue;
  border-top: 1px solid $blue-light;
  border-bottom: 1px solid $blue-dark;

  @include tablet {
    padding-top: 12px;

    background: none;
    border: none;
  }
}

.main-nav__list-item:nth-child(1) {
  border-top: none;
}

.main-nav__list-item:nth-child(3),
.main-nav__list-item:nth-child(4) {
  @include tablet {
    order: 1;
  }
}

.main-nav__list-item:nth-child(4) {
  border-bottom: none;
}

.main-nav__list-item a {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  @include tablet {
    font-size: 14px;
    line-height: 26px;
    color: $black;
  }
}

@include mobile-width-only {
  .main-nav__toggle {
    position: absolute;
    top: 16px;
    right: 20px;

    width: 22px;
    height: 22px;
    padding: 0;

    font-size: 0;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 4px;

      background-color: $blue;
      box-shadow: 0 8px 0 0 $blue,
      0 16px 0 0 $blue;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;

      width: 100%;
      height: 4px;

      background-color: $white;
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav__list-item:nth-child(4) {
    box-shadow: inset 0 -7px 15px -10px;
  }
}
