.page-footer {
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  line-height: 26px;

  &__title {
    font-weight: bold;
    font-size: 21px;
  }

  &__text {
    font-size: 14px;
  }
}
