.page-footer {
  min-height: 224px;
  padding-top: 31px;

  line-height: 26px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    width: 100%;
    min-height: 120px;
  }
}

.page-footer__wrapper {
  @include container;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__site-link {
  display: block;
  margin-bottom: 36px;

  font-weight: bold;
  font-size: 21px;
  color: $black;
  text-decoration: none;

  @include tablet {
    margin-bottom: 0;

    text-align: left;
  }
}

.page-footer__social {
  margin-bottom: 42px;

  @include tablet {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  position: relative;

  font-size: 14px;
  text-align: right;
  color: $black;
  text-decoration: none;
}

.page-footer__copyright-svg {
  display: inline-block;
  width: 40px;
  height: 40px;

  vertical-align: middle;
  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $grey-light;
  }
}
