.photo-post {
  padding-top: 21px;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black;

  border-top: 1px solid $grey-dark;

  @include tablet {
    width: 100%;
    padding: 0;

    border: none;
  }

  @include desktop {
    position: relative;
    color: $white;
  }
}

.photo-post:first-child ~ .photo-post {
  @include tablet {
    width: 324px;
  }

  @include desktop {
    flex-grow: 1;
  }
}

.photo-post:first-child ~ .photo-post img {
  @include tablet {
    height: 267px;
  }
}

.photo-post__wrapper {
  width: 280px;
  margin: 0 auto;

  @include tablet {
    width: auto;
  }
}

.photo-post img {
  display: block;
  width: 100%;
  height: 280px;

  @include tablet {
    height: 400px;
  }
}

.photo-post:nth-child(1) img {
  background-color: #fec880;
}

.photo-post:nth-child(2) img {
  background-color: #c38a76;
}

.photo-post:nth-child(3) img {
  background-color: #394e2a;
}

.photo-post:nth-child(4) img {
  background-color: #c57b68;
}

.photo-post__footer {
  padding: 18px 0;

  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 80px;
    padding: 16px 20px;

    background-color: $bg-grey;
  }

  @include desktop {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    background-color: $bg-black-transparent;
  }
}

.photo-post:nth-child(2n+1) .photo-post__footer {
  @include tablet {
    background-color: #eaeaea;
  }

  @include desktop {
    background-color: $bg-black-transparent;
  }
}

.photo-post__title {
  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
}

.photo-post__author {
  margin: 0;

  color: $black-light;

  @include desktop {
    color: $white;
  }
}

.photo-post__likes {
  display: flex;
  justify-content: space-around;
  width: 70px;
  margin-top: 5px;
}

.photo-post__like-button {
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;

  fill: $grey-light;

  @include tablet {
    fill: #a9a9a9;
  }

  @include desktop {
    fill: #ffffff;
  }
}
