.pop-up {
  padding: 42px 36px 35px;
  margin: 0 auto;

  text-align: center;
  border: none;
}

.pop-up--failure {
  @include tablet {
    width: 400px;
  }
}

.pop-up--success {
  @include tablet {
    width: 648px;
  }

  @include desktop {
    width: 638px;
  };
}

.pop-up .hidden {
  display: none;
}

.pop-up__text {
  font-weight: normal;
  line-height: 24px;
  color: $black-light;
  text-transform: uppercase;
}
