.reason {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
  }
}
