.reason-header {
  padding: 15px 0;

  text-align: center;
  color: $white;

  background-color: $blue;

  &--absolute-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include tablet {
    float: left;
    width: 33%;
    height: 256px;
  }

  &--dark {
    color: $black-light;

    background-color: $grey;
  }
}
