.reason {
  position: relative;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  @include tablet {
    display: flex;
    height: 256px;
    overflow: hidden;
  }
}

.reason__wrapper {
  width: 280px;
  margin: auto;

  @include desktop {
    width: 270px;
  }
  @include tablet {
    width: 162px;
    padding: 0;
  }
}

.reason__header {
  min-height: 215px;
  padding-top: 30px;
  padding-bottom: 40px;

  text-align: center;
  color: $white;

  background-color: $blue;

  @include tablet {
    height: 256px;
    padding-top: 45px;
  }

  &--mask {
    @include mobile-width-only {
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100% 37px;
    }
  }

  &--dark {
    min-height: 168px;
    padding-bottom: 0;

    color: $black-light;

    background-color: $grey;
  }

  &--dark .reason__wrapper {
    padding-bottom: 27px;
  }
}

.reason__title {
  margin: 0 auto;
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @include desktop {
    margin-bottom: 16px;
  }
  @include tablet {
    width: 160px;

    font-size: 21px;
  }
}

.reason__number {
  margin: 0;
  margin-bottom: 15px;

  @include tablet {
    margin-bottom: 22px;
  }
}

.reason__text {
  margin: 0;

  word-wrap: break-word;
}

.reason__text .hidden {
  @include tablet {
    display: none;
  }
}

.reason__icon {
  width: 40px;
  height: 40px;

  background: $blue;
}

.reason__description {
  flex: 1;
  padding-left: 10px;
}

.reason__img {
  position: relative;

  height: 260px;
  overflow: hidden;

  @include tablet {
    width: 67%;
    height: 256px;
  }
}

.reason__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  margin: auto;
}

.reason:nth-child(1),
.reason:nth-child(2),
.reason:nth-child(3) {
  @include tablet {
    width: 100%;
  }
}

.reason:nth-child(4),
.reason:nth-child(5),
.reason:nth-child(6) {
  @include tablet {
    flex-grow: 1;
    width: 33%;
  }
}

.reason:nth-child(4) .reason__header,
.reason:nth-child(5) .reason__header,
.reason:nth-child(6) .reason__header {
  @include tablet {
    width: 100%;
  }
}

.reason:nth-child(1) .reason__header,
.reason:nth-child(3) .reason__header {
  @include tablet {
    width: 33%;
  }
}

.reason:nth-child(4) .reason__wrapper,
.reason:nth-child(5) .reason__wrapper {
  border-bottom: 1px solid #d6d6d6;

  @include tablet {
    border-bottom: none;
  }
}

.reason:nth-child(1) .reason__header {
  padding-top: 62px;

  @include tablet {
    padding-top: 48px;
  }
}

.reason:nth-child(2) {
  @include tablet {
    height: 330px;
  }
}

.reason:nth-child(2) .reason__wrapper {
  @include tablet {
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-left: 0;
  }
}

.reason:nth-child(2) .reason__title {
  margin-bottom: 14px;

  @include tablet {
    margin-bottom: 21px;
  }
}

.reason__list {
  min-height: 415px;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 19px;

  @include tablet {
    display: flex;
    width: 100%;
    padding-top: 25px;

    text-align: center;
  }
}

.reason__list-item {
  @include tablet {
    flex: 1;
    width: 33%;
  }

  &:nth-child(2) {
    @include tablet {
      order: 1;
    }
  }
}

.reason__list-item--house .reason__wrapper::before {
  background-image: url("../img/icon-house.svg");
}

.reason__list-item--gift .reason__wrapper::before {
  background-image: url("../img/icon-gift.svg");
}

.reason__list-item--food .reason__wrapper::before {
  background-image: url("../img/icon-burger.svg");
}

.reason__list-item .reason__wrapper {
  position: relative;

  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 48px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include tablet {
      top: 32px;
      left: calc(50% - 40px);

      width: 80px;
      height: 80px;
    }
  }
}

.reason:nth-child(3) .reason__header {
  min-height: 190px;
  padding-top: 38px;

  @include tablet {
    order: 1;
    padding-top: 48px;
  }
}

.reason:nth-child(3) .reason__title {
  @include tablet {
    width: 151px;
    margin-right: auto;
    margin-left: auto;
  }
}
