.reason {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  @include tablet {
    height: 256px;
    overflow: hidden;

    @include clearfix;
  };

  &--column {
    @include tablet {
      float: left;
      width: calc(33% + 1%/3);

      .reason-header {
        float: none;
        width: auto;
      }
    }
  }

  &__wrapper {
    width: 280px;
    padding: 12px;
    margin: auto;

    @include tablet {
      width: 162px;
      padding: 0;
    }

    @include desktop {
      width: 256px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;

    font-weight: bold;
    font-size: 18px;
    line-height: 10px;

    @include tablet {
      line-height: 26px;
      width: 135px;
      margin: 0 auto;
    }
  }

  &__list {
    width: 320px;
    margin: 0 auto;
    padding: 0;

    list-style: none;

    @include tablet {
      @include clearfix;
      width: auto;
    }
  }

  &__list-item {
    @include tablet {
      display: block;
      float: left;
      width: calc(33% + 1%/3);

      text-align: center;
    }
  }

  &__img {
    position: relative;

    height: 260px;

    @include tablet {
      width: 67%;
      height: 256px;
      overflow: hidden;

      &--devils-bridge {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  & img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 260px;
    margin: auto;
  }
}
