.search-hotel {
  min-height: 265px;
  padding-top: 32px;
  padding-bottom: 48px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: $black-light;
  text-transform: uppercase;

  @include tablet {
    min-height: 320px;
    padding-top: 55px;
  }

  @include desktop {
    min-height: 330px;
  }
}

.search-hotel__wrapper {
  @include container;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 18px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  @include tablet {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.search-hotel__text {
  margin-bottom: 34px;
  @include tablet {
    margin-bottom: 42px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    margin-bottom: 46px;
  }
}

.search-hotel__btn:hover {
  background-color: $btn-hover;
}

.search-hotel__btn:active {
  background-color: $btn-down;
  color: $white-transparent;
}

.search-hotel__btn:disabled {
  background-color: $btn-disabled;
}
