.video-post {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 103px;
  padding-top: 18px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  border-top: 1px solid $grey-dark;

  @include tablet {
    margin-bottom: 82px;
    padding-top: 42px;
    width: 648px;
    border: none;
  }

  @include desktop {
    padding-top: 46px;
    width: 800px;
  }
}

.video-post__wrapper {
  width: 280px;
  margin: 0 auto;
  @include tablet {
    width: 648px;
  };
}

.video-post video {
  width: 100%;
  height: 200px;

  @include tablet {
    height: 500px;
  }
}

.video-post__header {
  text-align: center;
}

.video-post__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  @include tablet {
    font-size: 30px
  }
}

.video-post__text {
  margin-top: 26px;
  margin-bottom: 35px;
  @include tablet {
    margin: 29px 0;
  }

  @include desktop {
    margin-top: 30px;
    margin-bottom: 72px;
  }
}

.promo-video__video-wrap {
  position: relative;
}

.video-controls__wrap {
  position: absolute;
  right: 0;
  bottom: -59px;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  height: 111px;

  font-size: 0;
  line-height: 0;

  @include mobile-width-only {
    width: 280px;
    margin: auto;
  }

  @include tablet {
    height: 93px;
    bottom: 7px;
    background-color: $bg-black-transparent;
  }
}

.video-controls__wrap button {
  width: 50px;

  border: none;
  outline: none;
  background-color: transparent;

  @include mobile-width-only {
    align-self: flex-start;
    height: 66px;
    background: $bg-grey;
  }
}

.video-controls__rewind {
  flex-grow: 1;
  padding: 0 15px;

  outline: none;

  @include mobile-width-only {
    height: 45px;
    width: 100%;
    align-self: flex-start;
    background-color: $bg-black-transparent
  }
}

.video-controls__progress-bar {
  position: relative;
  top: 22.5px;
  left: 0;
  right: 0;
  height: 0;
  border-top: 3px solid rgba(255, 255, 255, 0.3);

  @include tablet {
    top: 46.5px;
  }
}

.video-controls__slider {
  position: relative;
  top: 16.5px;
  left: 36px;

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: $white;

  @include tablet {
    top: 40.5px;
    left: 112px;
  }
}

.video-controls__replay-btn {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding-left: 15px;

  @include tablet {
    flex-grow: 0;
    order: -1;
    padding-left: 25px;
  }
}

.video-controls__replay-icon,
.video-controls__subtitles-icon,
.video-controls__fullscreen-icon {
  fill: #5c6870;

  @include tablet {
    fill: $white;
  }
}

.video-controls__replay-icon:hover,
.video-controls__subtitles-icon:hover,
.video-controls__fullscreen-icon:hover {
  fill: $btn-video-hover;
}

.video-controls__replay-icon:active,
.video-controls__subtitles-icon:active,
.video-controls__fullscreen-icon:active {
  fill: $btn-video-down;
}

.video-controls__replay-icon {
  width: 16px;
  height: 20px;
}

.video-controls__subtitle-icon {
  width: 32px;
  height: 20px;
}

.video-controls__fullscreen-icon {
  width: 20px;
  height: 20px;
}
