.video-post {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 102px;
  padding-top: 18px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  border-top: 1px solid $grey-dark;

  @include tablet {
    width: 648px;
    margin-bottom: 38px;
    padding-top: 42px;

    border: none;
  }
  @include desktop {
    width: 800px;
    margin-bottom: 83px;
  }
}

.video-post__wrapper {
  width: 280px;
  margin: 0 auto;

  @include tablet {
    width: 648px;
  }
}

.video-post video {
  width: 100%;
  height: 200px;

  @include tablet {
    height: 500px;
  }
}

.video-post__header {
  text-align: center;

  @include tablet {
    width: 415px;
    margin: 0 auto;
  }
}

.video-post__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  @include tablet {
    font-size: 30px;
  }
}

.video-post__text {
  margin-top: 26px;
  margin-bottom: 35px;

  word-spacing: 1px;

  @include tablet {
    margin-top: 29px;
    margin-bottom: 75px;

    word-spacing: normal;
  }
  @include desktop {
    margin-top: 30px;
  }
}

.video-post__video-wrap {
  position: relative;
}

.video-controls__wrap {
  position: absolute;
  right: 0;
  bottom: -59px;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 111px;

  font-size: 0;
  line-height: 0;

  @include mobile-width-only {
    justify-content: space-between;
    width: 280px;
    margin: auto;
    padding: 0 25px;

    box-shadow: inset 0 -66px $bg-grey,
    inset 0 45px $bg-black-transparent;
  }
  @include tablet {
    bottom: 7px;

    height: 93px;

    background-color: $bg-black-transparent;
  }
}

.video-controls__wrap button {
  height: 22px;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;

  @include mobile-width-only {
    align-self: flex-start;
  }
  @include tablet {
    margin: 0 auto;
  }
}

.video-controls__rewind {
  width: 386px;
  height: 22px;

  outline: none;

  @include mobile-width-only {
    align-self: flex-start;
    width: 230px;
    height: 45px;
  }
  @include tablet {
    margin: 0 auto;
  }
  @include desktop {
    width: 586px;
  }
}

.video-controls__progress-bar {
  position: relative;
  top: 22.5px;
  right: 0;
  left: 0;

  height: 0;

  border-top: 3px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;

  @include tablet {
    top: 9.5px;
  }
}

.video-controls__slider {
  position: relative;
  top: 16.5px;
  left: 36px;

  width: 9px;
  height: 9px;

  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  @include tablet {
    top: 3.5px;
    left: 112px;
  }
}

.video-controls__replay-btn {
  @include tablet {
    display: flex;
    flex-grow: 0;
    order: -1;
    padding-left: 25px;
  }
}

.video-controls__subtitles-btn {
  @include mobile-width-only {
    margin-left: 104px;
  }
}

.video-controls__replay-icon,
.video-controls__subtitles-icon,
.video-controls__fullscreen-icon {
  fill: #5c6870;
  @include tablet {
    fill: $white;
  }
}

.video-controls__replay-icon:hover,
.video-controls__subtitles-icon:hover,
.video-controls__fullscreen-icon:hover {
  fill: $btn-video-hover;
}

.video-controls__replay-icon:active,
.video-controls__subtitles-icon:active,
.video-controls__fullscreen-icon:active {
  fill: $btn-video-down;
}

.video-controls__replay-icon {
  width: 16px;
  height: 20px;
}

.video-controls__subtitle-icon {
  width: 32px;
  height: 20px;
}

.video-controls__fullscreen-icon {
  width: 20px;
  height: 20px;
}
