.video-post {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 103px;
  padding-top: 18px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  border-top: 1px solid $grey-dark;

  @include tablet {
    margin-bottom: 82px;
    padding-top: 42px;
    width: 648px;
    border: none;
  }

  @include desktop {
    padding-top: 46px;
    width: 800px;
  }
}

.video-post__wrapper {
  width: 280px;
  margin: 0 auto;
  @include tablet {
    width: 648px;
  };
}

.video-post video {
  height: 200px;

  @include tablet {
    height: 500px;
  }
}

.video-post__header {
  text-align: center;
}

.video-post__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  @include tablet {
    font-size: 30px
  }
}

.video-post__text {
  margin-top: 26px;
  margin-bottom: 35px;
  @include tablet {
    margin: 29px 0;
  }

  @include desktop {
    margin-top: 30px;
    margin-bottom: 72px;
  }
}
