.video-post {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: $black-light;
  text-transform: uppercase;

  border-top: 1px solid $grey-dark;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}
